
/* 
<style type="text/css">  
*/

body {
background-image: url("http://svn.red-bean.com/repos/kfogel/trunk/www/images/parchment-background.jpg");
z-index: -1;
}
/*
.panel-group {   
    background-color:rgba(0, 0, 0, 0.2);
*/  /*    background-color: #cccccc;  */
}
.panel-group2 {   
    background-color:rgba(0, 0, 0, 0.0);
    font-weight: bold;
}

td.zero_width {
    width: 1%;
}



// Creates a wrapper for a series of columns
.make-row(@gutter: @grid-gutter-width) {
  // Then clear the floated columns
  .clearfix();

  @media (min-width: @screen-sm-min) {
    margin-left:  (@gutter / -2);
    margin-right: (@gutter / -2);
  }

  // Negative margin nested rows out to align the content of columns
  .row {
    margin-left:  (@gutter / -2);
    margin-right: (@gutter / -2);
  }
}


// Generate the extra small columns
.make-xs-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: @grid-float-breakpoint) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}

// Generate the large columns
.make-lg-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: @screen-lg-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}

// Generate the large column offsets
.make-lg-column-offset(@columns) {
  @media (min-width: @screen-lg-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}

.wrapper {
  .make-row();
}
.content-main {
  .make-lg-column(8);
}
.content-secondary {
  .make-lg-column(3);
  .make-lg-column-offset(1);
}


.sbBG {
    background-image: url("https://pixabay.com/static/uploads/photo/2014/04/02/10/55/health-304919_960_720.png");
    background-repeat: no-repeat;
    background-size: contain;  
    /* background-size: cover;  */
        opacity: 0.8;
    background-position: bottom;
    z-index: 33;
    /* max-width: 100%;  */
}

/*
    .panel-transparent {
        background: none;
    }
    .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.2)!important;
    }
    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.2)!important;
    }
*/

    .panel-default{
    background-color: transparent;
    border: 1px #222;}
    .panel-heading{
    background-color: transparent;
    border: 1px #222;}
    .panel-title{
    background-color: transparent;
    border: 1px #222;}
    .collapsed{
    background-color: transparent;
    }
    .row{
    background-color: transparent;
    border: 1px #222;}

#footer {
position: fixed;
Width: 100%;
bottom: 0;
}

/* float: right; */
/*
#footer {
margin: 0px auto;
width: 850px;
}    
#footer .social {
padding: 30px 0;
width: 425px;
text-align: center;
}
#footer .copyright {
padding: 30px 0;
width: 425px;
text-align: center;
}
*/

/*
<style type="text/css">  
  #footer {  
   bottom : 2; 
   padding-bottom: 0; 
   height : 40px;  
   margin-top : 40px; 
   margin: auto;
   width: 50%;
   text-align: center;  
  }  
</style> 
*/


/*
footer {
    float: right;
    height: 35px;
    margin: 0px 50px 0px 0px;
    background: #9FF;
    color: #000;
    text-align: right;
    padding: 10px 30px;
    width: 180px;
}
*/

               /*replace 900px with your width*/
/*
        .wrap {
                position:relative;
                margin:0 auto;
                width:900px;
        }

        #header, #footer {
                width:100%;
                float:center;
        }

        #footer {
                position:fixed;
                bottom:0;
                z-index:999999;
        }

*/

/* */

/*
</style> 
*/

